*{
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
}
p{
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}
header{
  height: 70px;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid lightgray;
padding-left: 108px;
padding-right: 116px;
}
.logo-name{
  text-decoration: none;
  font-size:xx-large;
  font-weight: 900;
  color:#212529;
  
  
}
.nav-ul{
list-style-type: none;
display: flex;
gap: 24px;
font-size: larger;
}
.nav-li{
  text-decoration: none;
  color: gray;
}


#div2{
   margin-top: 6px;
}
.section1{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 39px;
  padding-right: 43px;
}
.heading1{
  font-size: 42px;
  color: #212529;
}
.para1 {
  font-size: large;
  line-height: 25px;
  margin-top: 16px;
  color: gray;
}
.image1{
  width: 636px;
  height: 477px;
  margin-top: 67px;
  border-radius: 10px;
}
.link-primary {
  display: inline-block;
  text-decoration: none;
  background: #212529;
  color: white;
  padding-left: 29px;
  padding-right: 28px;
  padding-top: 11px;
  padding-bottom: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 40px;
}
.link-secondary{
  display: inline-block;
  text-decoration: none;
  
  color:black;
  padding-left: 29px;
  padding-right: 28px;
  padding-top: 11px;
  padding-bottom: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 40px;
  border: 1px solid black;
}
.section2{
  background:#ebf1f6;
  width: 100%;
  height: auto;
  margin-top: 67px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.div3{
 
  margin-left: 99px;
  margin-right: 99px;
  padding-left: 12px;
  padding-right: 12px;
}
.heading2 {
  font-size: xx-large;
  letter-spacing: 1px;
  padding-bottom: 32px;
}
.para2{
  font-size: large;
  letter-spacing: 1px;
  padding-bottom: 50px;
  color: gray;
}

#ul2{
  list-style: none;
  display: flex;
  gap: 27px;
  
}
.list-div1{
    background: white;
    width: 306px;
    height: 272px;
    border-radius: 7px;
    padding-left: 12px;
    padding-right: 12px;
}
.image2 {
  margin-left: 9px;
  margin-top: 30px;
}
.heading3{
  margin-left: 9px;
  margin-top: 4px;
}
.para3{
  margin-left: 9px;
  margin-top: 9px;
  color: gray;
  font-size: large;
  
}
.section3{
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 12px;
  padding-right: 12px;
}
.heading4 {
  margin-left: 99px;
  font-size: 30px;
  margin-bottom: 32px;
}
.cards-div {
  display: flex;
  margin-left: 73px;
  margin-right: 67px;
  
}
.image3{
  width: 304px;
  height: 220px;
 border-radius: 7px;
}
.heading5{
  margin-left: 19px;
  margin-top: 10px;
  font-size: 23px;
}
.para4 {
 margin-left: 21px;
 margin-right: 69px;
 font-size: large;
    
 margin-top: 10px;
 cursor: #212529;
 letter-spacing: 1px;
}
.go-somewhere {
  display: inline-block;
  text-decoration: none;
  margin-left: 20px;
  font-size: large;
  background: #212529;
  color: white;
  border-radius: 7px;
  margin-top: 20px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 22px;
  margin-bottom: 19px;
}
.article1 {
  width: 304px;
  border: 1px solid gray;
  border-radius: 7px;
  margin-left: 30px;
}


